################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab03/Lab03_GiaoDien/.vs/Lab03_GiaoDien/FileContentIndex/142e62b8-6fcb-4622-9b11-a4aa3980c6ab.vsidx
