################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab03/Lab03_GiaoDien/.vs/Lab03_GiaoDien/FileContentIndex/142e62b8-6fcb-4622-9b11-a4aa3980c6ab.vsidx
/Lab03/Lab03_GiaoDien/.vs/Lab03_GiaoDien/FileContentIndex/272542f5-c73b-4cfa-ac1f-70707ab7f608.vsidx
/Lab03/Lab03_GiaoDien/.vs/Lab03_GiaoDien/FileContentIndex/397331f8-3774-41f2-bd53-b1632992ab17.vsidx
/Lab03/Lab03_GiaoDien/.vs/Lab03_GiaoDien/FileContentIndex/5613a3bd-a189-421d-bb37-3bdd9dd0f247.vsidx
/Lab03/Lab03_GiaoDien/.vs/Lab03_GiaoDien/FileContentIndex/fe3b2893-0e2e-45d8-b52f-4465ce06015b.vsidx
